.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.1);

}

.itemName b,.itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}

/* Wrapper para o loader, que ocupará toda a tela */
.loader-wrapper {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    position: fixed;          /* Fixa a posição na tela */
    top: 0;                   /* Alinha ao topo da tela */
    left: 0;                  /* Alinha à esquerda */
    width: 100%;              /* Ocupa toda a largura da tela */
    height: 100vh;            /* Ocupa toda a altura da tela */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    z-index: 9999;            /* Garante que o loader apareça acima de outros elementos */
}

/* Estilo do loader */
.loader {
    border: 8px solid #f3f3f3; /* Cor do fundo */
    border-top: 8px solid var(--corSecundaria); /* Cor do círculo */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
}

/* Definição da animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}